{% extends 'myapp/base.html' %} {% block content %}

    <h2>カテゴリ一覧ページ</h2>
    <br/>

    <div class="row row-cols-1 row-cols-md-3">
        {% for category in category_list %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'myapp:category_detail' category.name_en %}">{{ category.name }}</a>
                        </h4>
                        <hr/>
                        {% for post in category.post_set.all|slice:":3" %}
                            <td><p><a href="{% url 'myapp:post_detail' post.id %}">{{ post.title }}</a></p></td>
                        {% endfor %}
                        {% if category.post_set.all|length > 3 %}
                            <a type="button"
                               href="{% url 'myapp:category_detail' category.name_en %}"
                               class="btn btn-outline-default waves-effect btn-sm"
                            >{{ category.name }}の記事を全て見る</a>
                        {% elif category.post_set.all|length <= 0 %}
                            <p>{{ category.name }}の記事はまだありません。</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
