{% extends 'myapp/base.html' %} {% block content %}

<div class="row">
  <div class="col-md-12">
    <h2>カテゴリ一覧ページ</h2>
    <br />
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">名前</th>
          <th scope="col">名前(英語)</th>
          <th scope="col">作成日時</th>
          <th scope="col">更新日時</th>
        </tr>
      </thead>
      <tbody>
        {% for item in category_list %}
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.name_en }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.updated_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
