{% extends 'myapp/base.html' %} {% block content %}

<div class="row">
  <div class="col-md-9">
    <h2>投稿・更新ページ</h2>
    <br />
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label>カテゴリ</label>
        {{ form.category }}
      </div>
      <br />
      <div class="form-group">
        <label>タイトル</label>
        {{ form.title }}
      </div>
      <br />
      <div class="form-group">
        <label>サムネイル</label>
        {{ form.thumbnail }}
      </div>
      <br/>
      <div class="form-group">
        <label>本文</label>
        {{ form.content }}
      </div>
      <br />
      <button type="submit" class="btn btn-primary btn-rounded">保存</button>
    </form>
  </div>
</div>

{% endblock %}
